*{
  box-sizing: border-box;
}

body{
  margin: 0;
}


/* Content Styling (Scroll) */
.content{
  overflow-y: auto;
  flex: 0 0 60%;
  background-color: #ddd;
}

/* Intro Content */
header{
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:
}

.logo{
  width: 50vh;
}
/* Heading */
h1{
  text-align: center;
  font-size: 50px;
    color: #cf2934;
}
h2{
  text-align: center;
  font-size: 25px;
  color: #cf2934;
}

/* Styling for the horizontal rule */
hr{
  width: 95%;
  border: .4px solid #cf2934;
  margin-bottom: 30px;
}

/* Gallery row styling */

.row-p{
  display: flex;
}

/* Gallery column styling */
.column-p{
  flex: 50%;
  padding: 0px 8px;
}

/* Photo Gallery img styling */
.column-p img{
  width: 100%;
}

/* ContentSpacer */
.spacer{
  margin-top: 60px;
}

/* About Section */
.about{
  padding: 12px 32px;
}
